<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufcspa.unasus.appportfolio">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_portfolio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SelectActivitiesActivity"
            android:label="@string/title_activity_select_activity" />
        <activity
            android:name=".Activities.EditActivity"
            android:label="@string/title_edit_activity" />
        <activity
            android:name=".Activities.SelectClassActivity"
            android:label="@string/title_activity_select_class" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Activities.SelectPortfolioActivity"
            android:label="@string/title_activity_select_portfolio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.onegravity.rteditor.media.choose.MediaChooserActivity" />
        <activity android:name="com.onegravity.rteditor.media.crop.CropImageActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Dialog.FullVideoDialog"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Dialog.FullImageDialog"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Activities.LoginActivity2"
            android:label="@string/title_activity_login2"></activity>
        <activity
            android:name=".Activities.TesteDownloadImage"
            android:label="@string/title_activity_teste_download_image"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
